trunk/ElectricCarGroup8/ElectricCarGUI/Service References/ElectricCarService/ElectricCarWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElectricCarWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElectricCarWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="bookinglines" nillable="true" type="tns:ArrayOfBookingLine" />
      <xs:element minOccurs="0" name="cId" type="xs:int" />
      <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer" nillable="true" type="tns:CustomerTest" />
      <xs:element minOccurs="0" name="payStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startStationId" type="xs:int" />
      <xs:element minOccurs="0" name="totalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="tripStart" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="ArrayOfBookingLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingLine" nillable="true" type="tns:BookingLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingLine" nillable="true" type="tns:ArrayOfBookingLine" />
  <xs:complexType name="BookingLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteryType" nillable="true" type="tns:BatteryTypeTest" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="station" nillable="true" type="tns:Station" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingLine" nillable="true" type="tns:BookingLine" />
  <xs:complexType name="BatteryTypeTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatteryTypeTest" nillable="true" type="tns:BatteryTypeTest" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="CustomerTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerTest" nillable="true" type="tns:CustomerTest" />
  <xs:complexType name="ArrayOfBatteryTypeTest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BatteryTypeTest" nillable="true" type="tns:BatteryTypeTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBatteryTypeTest" nillable="true" type="tns:ArrayOfBatteryTypeTest" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="ArrayOfNaborStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NaborStation" nillable="true" type="tns:NaborStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNaborStation" nillable="true" type="tns:ArrayOfNaborStation" />
  <xs:complexType name="NaborStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="DriveHour" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NaborStation" nillable="true" type="tns:NaborStation" />
</xs:schema>