trunk/ElectricCarGroup8/ElectricCarGUI/Service References/ElectricCarService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ElectricCarWCF" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="addEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationId" type="xs:int" />
        <xs:element minOccurs="0" name="position" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getEmployeeResult" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getAllEmployeesResult" nillable="true" type="q2:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="employee" nillable="true" type="q3:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="discountGroup" nillable="true" type="q4:DiscountGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getCustomerResult" nillable="true" type="q5:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getAllCustomersResult" nillable="true" type="q6:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="customer" nillable="true" type="q7:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addLogInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLogInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonLogInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonLogInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getPersonLogInfosResult" nillable="true" type="q8:ArrayOfLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLogInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="logInfo" nillable="true" type="q9:LogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLogInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLogInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLogInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addDiscountGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="discount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDiscountGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDiscoutGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDiscoutGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getDiscoutGroupResult" nillable="true" type="q10:DiscountGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDiscountGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDiscountGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getAllDiscountGroupsResult" nillable="true" type="q11:ArrayOfDiscountGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDiscountGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="discountGroup" nillable="true" type="q12:DiscountGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDiscountGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDiscountGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDiscountGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBookings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getAllBookingsResult" nillable="true" type="q13:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getBookingResult" nillable="true" type="q14:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startSId" type="xs:int" />
        <xs:element minOccurs="0" name="endSIdint" type="xs:int" />
        <xs:element minOccurs="0" name="tripStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="batteryLimit" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getRoutesResult" nillable="true" type="q15:ArrayOfArrayOfRouteStop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convertCapacityToDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convertCapacityToDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="convertCapacityToDistanceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="b" nillable="true" type="q16:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBookingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="b" nillable="true" type="q17:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBookingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBookingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBatteryType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBatteryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getAllBatteryTypeResult" nillable="true" type="q18:ArrayOfBatteryTypeTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getAllStationsResult" nillable="true" type="q19:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getStationResult" nillable="true" type="q20:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNaborStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNaborStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getNaborStationsResult" nillable="true" type="q21:ArrayOfNaborStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNaborStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id1" type="xs:int" />
        <xs:element minOccurs="0" name="id2" type="xs:int" />
        <xs:element minOccurs="0" name="distance" type="xs:decimal" />
        <xs:element minOccurs="0" name="drivehour" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNaborStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNaborStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id1" type="xs:int" />
        <xs:element minOccurs="0" name="id2" type="xs:int" />
        <xs:element minOccurs="0" name="distance" type="xs:decimal" />
        <xs:element minOccurs="0" name="driveHour" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNaborStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteNaborStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id1" type="xs:int" />
        <xs:element minOccurs="0" name="id2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteNaborStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getStatesResult" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookingLinesForStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookingLinesForStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getBookingLinesForStationResult" nillable="true" type="q23:ArrayOfBookingLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookingLinesForDateInStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookingLinesForDateInStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getBookingLinesForDateInStationResult" nillable="true" type="q24:ArrayOfBookingLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBatteryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="producer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capacity" type="xs:decimal" />
        <xs:element minOccurs="0" name="exchangeCost" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBatteryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addBatteryTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBatteryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBatteryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getBatteryTypeResult" nillable="true" type="q25:BatteryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBatteryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBatteryTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBatteryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="producer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capacity" type="xs:decimal" />
        <xs:element minOccurs="0" name="exchangeCost" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBatteryTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBatteryTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBatteryTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getAllBatteryTypesResult" nillable="true" type="q26:ArrayOfBatteryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInfoTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInfoTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllInfoTypesResult" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btID" type="xs:int" />
        <xs:element minOccurs="0" name="sID" type="xs:int" />
        <xs:element minOccurs="0" name="storageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewStorageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getStorageResult" nillable="true" type="q28:BatteryStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStorageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStorageByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStorageByTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="btid" type="xs:int" />
        <xs:element minOccurs="0" name="sID" type="xs:int" />
        <xs:element minOccurs="0" name="storageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStorageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationStorages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationStoragesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getStationStoragesResult" nillable="true" type="q29:ArrayOfBatteryStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStorages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStoragesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getAllStoragesResult" nillable="true" type="q30:ArrayOfBatteryStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStorageInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStorageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllStorageInfoResult" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bsID" type="xs:int" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getPeriodResult" nillable="true" type="q32:Period" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPeriods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getAllPeriodsResult" nillable="true" type="q33:ArrayOfPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStoragePeriods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bsID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStoragePeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ElectricCarWCF" minOccurs="0" name="getStoragePeriodsResult" nillable="true" type="q34:ArrayOfPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>